* {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  font-family: monospace;
  display: block;
}

body {
  text-align: left;
  align-items: center;
  margin-top: 80px;
  margin: 0;
  height: 100vh;
  background-color: hotpink;
}

header {
  background-color: rgb(254, 206, 230);
  position: relative;
  display: block;
  height: 10em;
  box-sizing: border-box;
}

p {
  font-size: 2rem;
  text-align: right;
  margin-top: -30px;
  margin-right: 40px;
}
/*
 */
/*=================== Slider Red Style ======================== */

.sliderred {
  accent-color: red;
  margin-top: 50px;
}
/*=================== Slider Green Style ======================== */

.slidergreen {
  accent-color: rgb(18, 87, 7);
}
/*=================== Slider Blue Style ======================== */

.sliderblue {
  accent-color: rgb(9, 45, 189);
}
